@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

body {
  margin: 0;
  font-family: 'Julius Sans One', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #223843;
  color: #D77A61;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p, a{
  font-family: 'Julius Sans One', sans-serif;
}